# AI:ON-U API Configuration
AIONU_API_ENDPOINT=https://api.abclab.ktds.com/v1

# API Keys
# Agent API 키 (app-... 형식)
AIONU_API_KEY=

# Knowledge API 키 (dataset-... 형식)
AIONU_KNOWLEDGE_API_KEY=

# Knowledge Dataset Configuration
AIONU_DATASET_ID=
AIONU_DOCUMENT_ID=
